name: CI
on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install pnpm
        uses: pnpm/action-setup@v2

      - name: Install dependencies
        run: |
          pnpm env use --global 16
          pnpm install --frozen-lockfile

      - name: Check code formatting
        run: pnpm format:check

      - name: Run linter
        run: pnpm lint

      - name: Build packages
        run: pnpm build

      - name: Publish (dry run)
        run: pnpm publish --no-git-checks --force --dry-run
